#input-box{
    width: 260px;
    height: 205px;
    background-color: #dddddd;
    margin-left: 40%;
    padding: 5px;
    /* border-width: 2px;
    border-style: solid; */
}

h1{
    margin-left: 43%;
}

table,td, th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
    border-collapse: collapse;
  }
#save{
    width: 260px;
    background-color: aquamarine;
}
#output-box{
    margin-left: 33%;
    margin-top: 3%;
    /* background-color: aqua; */
}
#del{
    background-color: red;
}